.movie-img{
    margin-top: 4rem;
    margin-left: 8rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    width: 30rem;
}

.movie-title{
    font-weight: bold;
}

.movie{
    border: 2px;
    border-radius: 10px;
    margin-top: 4rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

movie-img-span{
    display: flex;
}
