/* #44b3e4	
#8fbff4	
#0c141c	
#78a3bf	
#8eaccb	
#2c444c */
.topnavbar{
    display: flex;
    line-height: 10px;
    width: auto;
}

.wrapper .carousel img{
    height:40rem;
    margin-bottom:5rem;
}

.wrapper .middle-view{
    margin-left:6rem;
    margin-bottom:5rem;    
}

.box {
  margin: 20px;
}

.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-right: auto;
}

.now-screen{
  display: flex;
}

.now-screen .animation{
  animation: blink 1s linear infinite;
}

@keyframes blink{
  0%{opacity: 0;}
  50%{opacity: .5;}
  100%{opacity: 1;}
  }

.now-screen p{
  margin-left: 10px;
  padding: 2px;
  font-weight: bold;
  color: #d9534f;
  opacity: 60%;
}

